@* ファイルの1行目に、このViewが使うEntityの型を宣言します *@
@model FIT_Technology.Models.Entities.EmployeeEntity

<div class="col-md-6 mx-auto text-center">
    <h2>従業員情報登録</h2>
    <p>従業員情報を入力し、『登録』ボタンを押してください。</p>
    <hr>
    <form method="post" autocomplete="off">
        <table class="table">
            <tr>
                <td>従業員コード</td>
                <td>
                    <input type="text" name="empcd" value="@Model?.EmpCd" placeholder="例：E0000" />
                    <br /><span asp-validation-for="EmpCd" class="text-danger"></span>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>氏名（漢字）</td>
                <td>
                    <input type="text" name="lastnm" value="@Model?.LastNm" placeholder="例：山田" />
                    <br /><span asp-validation-for="LastNm" class="text-danger"></span>
                </td>
                <td>
                    <input type="text" name="firstnm" value="@Model?.FirstNm" placeholder="例：太郎" />
                    <br /><span asp-validation-for="FirstNm" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td>氏名（カナ）</td>
                <td>
                    <input type="text" name="lastnmkana" value="@Model?.LastNmKana" placeholder="例：ヤマダ" />
                    <br /><span asp-validation-for="LastNmKana" class="text-danger"></span>
                </td>
                <td>
                    <input type="text" name="firstnmkana" value="@Model?.FirstNmKana" placeholder="例：タロウ" />
                    <br /><span asp-validation-for="FirstNmKana" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td>性別</td>
                <td>
                    <select name="gendercd">
                        @for(int i = 0; i < ViewBag.GenderInfo.Count; i++)
                        {
                            <option value="@ViewBag.GenderInfo[i].GenderCd">@ViewBag.GenderInfo[i].GenderNm</option>
                        }
                    </select>
                    <br /><span asp-validation-for="GenderCd" class="text-danger"></span>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>生年月日</td>
                <td>
                    <input type="date" name="birthdate" value="@Model?.BirthDate.ToString("yyyy-MM-dd")" />
                    <br /><span asp-validation-for="BirthDate" class="text-danger"></span>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>所属</td>
                <td>
                    <select name="sectioncd">
                        @for (int i = 0; i < ViewBag.SectionInfo.Count; i++)
                        {
                            <option value="@ViewBag.SectionInfo[i].SectionCd">@ViewBag.SectionInfo[i].SectionNm</option>
                        }
                        
                    </select>
                    <br /><span asp-validation-for="SectionCd" class="text-danger"></span>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>入社日</td>
                <td>
                    <input type="date" name="empdate" value="@Model?.EmpDate.ToString("yyyy-MM-dd")" />
                    <br /><span asp-validation-for="EmpDate" class="text-danger"></span>
                </td>
                <td></td>
            </tr>
        </table><br />
        <button type="submit" class="btn-primary-filled" name="btn_action" value="result">登録</button>
        <hr>
        <button type="submit" class="btn btn-secondary w-100" name="btn_action" value="cancel">戻る</button>
    </form>
</div>