@model FIT_Technology.Models.Entities.UserEntity

@{
    Layout = "_Layout";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center">@ViewBag.Title</h2>

            @* --- エラーメッセージ表示エリア --- *@
            @if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger text-center p-2" role="alert">
                    <small>@TempData["ErrorMessage"]</small>
                </div>
            }
            
            <div class="menu-desc-area">
                <span>@(ViewBag.ViewMsg = TempData["InfoMessage"] ?? "IDとパスワードを入力してください。")</span>
            </div>

            <form method="post">
                @* 概要エラーの表示場所（省略可） *@
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                @* 追加　従業員情報関連機能をカード化 *@
                @* <div class="menu-card">
                    
                    </div> *@
                <div class="menu-card">

                <div class="form-group mb-3">
                    <label asp-for="UserId" class="form-label"></label>
                    <input asp-for="UserId" class="form-control" />
                    @* バリデーションエラーメッセージの表示 *@
                    <span asp-validation-for="UserId" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Password" class="form-label"></label>
                    <input asp-for="Password" class="form-control" />
                    @* バリデーションエラーメッセージの表示 *@
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <br />
                @* <div class="d-grid"> *@
                <div class="text-center">
                    <button type="submit" class="btn-primary-filled w-100">ログイン</button>
                </div>
                </div>
            </form>
        </div>
    </div>
</div>
