@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center">
    <h1>保有資格一覧</h1>
    <form action="/License/List" method="post">

        @* 選択した従業員コードと名前表示 *@

        従業員コード：

        氏名：

        <table>
            <tr>
                <th>　</th>
                <th>資格名</th>
                <th>取得日</th>
            </tr>

            <tr>
                @* nameとvalueどうする？仮でつけた *@
                <td><input type="checkbox" name="license_id" value="date1"></td>
                <td>ITパスポート</td>
                <td>2015年10月1日</td>
            </tr>

            <tr>
                
                <td><input type="checkbox" name="license_id" value="date2"></td>
                <td>基本情報技術者</td>
                <td>2016年10月1日</td>
            </tr>

            <tr>
               
                <td><input type="checkbox" name="license_id" value="date3"></td>
                <td>I応用情報技術者</td>
                <td>2017年10月1日</td>
            </tr>
        </table><br />


        <button type="submit" name="btn_action" value="cancel">戻る</button>

       
        <button type="submit" name="btn_action" value="alert">削除</button>

    </form>
</div>
