<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="userdb"
			 connectionString="
			 Data Source=localhost; 
			 Initial Catalog=user_db;
			 User ID=embexU; 
			 Password=embexP;
			 Connect Timeout=60; 
			 Persist Security Info=True;
			 Encrypt=True;
			 TrustServerCertificate=True;
			 " />
		<!-- ローカル環境 -->
		<add name="userdb_local"
			 connectionString="
			Data Source=.\SQLEXPRESS; 
			Initial Catalog=user_db;
			Integrated Security=True;
			Connect Timeout=60; 
			Encrypt=True;
			TrustServerCertificate=True;
			" />
	</connectionStrings>

	<!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
	<!--
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
  -->

</configuration>
